body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: #fff;
}
#container{
    display: flex;
        flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 100px auto;
    text-align: center;
    
}
#question{
    background-color: rgb(235, 224, 224);
    padding: 10px;
    width : 800px;
    height: 300px;
    box-shadow: 0px 3px 10px rgb(118, 112, 112);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
}
#question button{
    text-align: left;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 1px 10px rgb(118, 112, 112);
    border-radius: 6px;
    border: none;

}
#qsection{
    display: none;
    margin-top: 10px;
}
#question p{
    margin-left: 10px;
}
#question #sq , #question #user{
    width: 200px;
    display: flex;
    justify-content: center;
    margin: auto;
}
#user{
    padding: 10px 5px;
    border-radius: 6px;
    border: none;
    box-shadow: 0px 1px 10px rgb(118, 112, 112);
    text-align: center
}
#qno{
    margin-left: 10px;
}
#qno span{
    /* background-color: #fff; */
    padding: 3px;
    margin:10px;
}

#sbtn{
    background-color: rgb(212, 195, 195);

    text-align: center;
    margin: 20px auto;
    padding: 10px 60px;
    box-shadow: 0px 1px 10px rgb(69, 59, 59);
    border-radius: 6px;
    border: none;
}


@media (max-width:840px){
 #container{
     margin-top: 40px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
 }
        #question{
            width: 90vw;
        }
        #seven, #eight , #nine ,#ten{
            margin-top: 10px;
        }
    }
